@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('icofont/icofont.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code, pre {
    font-family: 'Cascadia Code', 'Ubuntu Mono', SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.datagrid-tools-panel {
    float: right;
}

.query-view-host {
}

table.table-datagrid {
    overflow-x: unset;
}

.query-view-host .query-view-container {
}

.container-fluid {
}

.pre-scrollable {
    overflow-y: auto;
}

.test-quarantined {
    font-style: italic;
}

    .test-quarantined .symbol {
        font-style: normal;
    }

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}
