@* We use pl (left padding) and pt (top padding) but not bottom or right padding since it would make the scrollbars weird. *@
<div class="pl-2 pt-2 bg-warning" style="max-width: 95vw"><pre class="pre-scrollable">@ChildContent</pre></div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
