<BSButton Id="openLegendButton" OnClick="@(_ => LegendIsOpen = !LegendIsOpen)" IsOutline="true" Color="Color.Info">Legend</BSButton>
<BSPopover Target="openLegendButton" IsOpen="@LegendIsOpen" Placement="Placement.Left">
    <BSPopoverHeader>Legend</BSPopoverHeader>
    <BSPopoverBody>
        <p>Formatting:</p>
        <ul>
            <li><em>Italics</em> indicate quarantined tests.</li>
        </ul>
        <p>Shortened namespaces:</p>
        <ul>
            @foreach(var (name, abbrev) in NamespaceAbbreviations)
            {
                <li><code>@abbrev</code> - <code>@name</code></li>
            }
        </ul>
    </BSPopoverBody>
</BSPopover>

@code {
    bool LegendIsOpen { get; set; }
}
