<div hidden="@(!IsVisible)" class="text-muted">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    Exploring the ocean with Jack Kusto ...
    @LoadingContent
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment? LoadingContent { get; set; }
}
