<div hidden="@IsLoaded">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    Exploring the ocean with Jack Kusto (for some queries, this can take up to 30 seconds) ...
</div>

<div hidden="@(!IsLoaded)">
    @Content
</div>

@code {
    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public bool IsLoaded { get; set; }
}
