<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="" title="@GetBuildInfo()">What's Broken?</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <NavItem Href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Latest Failures
            </NavItem>
            <NavItem Href="/quarantined" Match="NavLinkMatch.All">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Quarantined Tests
            </NavItem>
            <NavItem Href="/history" Match="NavLinkMatch.Prefix">
                <span class="oi oi-clock" aria-hidden="true"></span> Test History
            </NavItem>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    string GetBuildInfo()
    {
        if (string.IsNullOrEmpty(Program.BuildNumber))
        {
            return "Local Dev Build";
        }
        else
        {
            return $"Build #{Program.BuildNumber} from branch '{Program.SourceBranch}' at commit '{Program.SourceVersion}'";
        }
    }
}
