@using System.Net

@if(Result != null)
{
    Project = Result.Project;
    Type = Result.Type;
    Method = Result.Method;
    ArgumentHash = Result.ArgumentHash;
}

@{ 
    var encodedHash = string.IsNullOrEmpty(ArgumentHash) ? null : WebUtility.UrlEncode(ArgumentHash);
}

<a target="_blank" class="@CssClass" title="Test history for @(Project).@(Type).@(Method) with unique argument hash '@ArgumentHash'" href="/history/@Project/@Type/@(string.IsNullOrEmpty(encodedHash) ? Method : $"{Method}/{encodedHash}")">
    @if (ChildContent == null)
    {
        <span class="icofont-clock-time"></span>
        <span class="icofont-external-link"></span>
    }
    else
    {
        @ChildContent
    }
</a>

@code {
    [Parameter]
    public string? Project { get; set; }
    
    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Method { get; set; }

    [Parameter]
    public string? ArgumentHash { get; set; }

    [Parameter]
    public TestResult? Result { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? CssClass { get; set; }
}
